<div class="containerAward">
  <div class="textTitle">
    <p class="h2">
      Selecciona lo que quieres comprar
    </p>
  </div>
  <div class="containerselectAward">
    <div class="gridImages d-flex justify-content-between">
      <div class="premio" data-value="1" onclick="awardsActive(this)"><img src="assets/images/bicicleta.png" alt="4800"></div>
      <div class="premio" data-value="2" onclick="awardsActive(this)"><img src="assets/images/perro.png" alt="2500"></div>
      <div class="premio" data-value="3" onclick="awardsActive(this)"><img src="assets/images/laptop.png" alt="5000"></div>
      <div class="premio" data-value="4" onclick="awardsActive(this)"><img src="assets/images/cel.png" alt="3000"></div>
    </div>
  </div>
  <div class="continerPrice d-flex justify-content-around">
    <p>Bs. 4.800.000</p>
    <p>Bs. 2.500.000</p>
    <p>Bs. 5.000.000</p>
    <p>Bs. 3.000.000</p>
  </div>
  <div class="btnSelect">
    <button id='selectedAward' class="btn btn-primary" onclick="nextGame()" disabled>Seleccionar</button>
  </div>
  <div class="imgAvatar" style="display: none;"></div>
</div>
