<div class="containerCards">
  <div class="cardBox">
    <div class="gameCard blueCard" >
      <div class="front">
        <img src="assets/img/blueCard.png" alt="">
      </div>
      <div class="back">
        <div class="containerQuestion">
          <p class="innerQuestion"></p>
          <div class="modalQuestion"></div>
          <div class="modalFeedback" style="display: none;">
            <p class="mt-4"></p>
            <span class="btnClose" onclick="hideCards('blueCard')">x</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="gameCard cianCard">
      <div class="front">
        <img src="assets/img/cianCard.png" alt="">
      </div>
      <div class="back">
        <div class="containerQuestion">
          <p class="innerQuestion"></p>
          <div class="modalQuestion"></div>
          <div class="modalFeedback" style="display: none;">
            <p class="mt-4"></p>
            <span class="btnClose" onclick="hideCards('cianCard')">x</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="gameCard greenCard">
      <div class="front">
        <img src="assets/img/greenCard.png" alt="">
      </div>
      <div class="back">
        <div class="containerQuestion">
          <div class="modalFeedback" style="display: none;">
            <div>
              <h6 class="mt-4">Sabias Que ...</h6>
              <p class="mt-4 innerQuestion"></p>
            </div>
            <span class="btnClose" onclick="hideCards('greenCard')">x</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="gameCard redCard">
      <div class="front">
        <img src="assets/img/redCard.png" alt="">
      </div>
      <div class="back">
        <div class="containerQuestion">
          <p class="innerQuestion"></p>
          <div class="modalQuestion"></div>
          <div class="modalFeedback" style="display: none;">
            <p class="mt-4"></p>
            <span class="btnClose" onclick="hideCards('redCard')">x</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cardBox">
    <div class="gameCard yellowCard">
      <div class="front">
        <img src="assets/img/yellowCard.png" alt="">
      </div>
      <div class="back">
        <div class="containerQuestion">
          <p class="innerQuestion"></p>
          <div class="modalQuestion"></div>
          <div class="modalFeedback" style="display: none;">
            <p class="mt-4"></p>
            <span class="btnClose" onclick="hideCards('yellowCard')">x</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
