<div>
  <div class="containerpiggybank">
    <div class="gridImages d-flex justify-content-between">
      <div class="pig"><img id="pig" src="assets/img/alcancia/cerdofeliz.png" alt=""></div>
    </div>
  </div>
  <div class="containerfence">
    <div class="gridImages d-flex justify-content-between">
      <div class="fence"><img id="fence" src="assets/img/valla/valla.png" alt="">  </div>
    </div>
  </div>
  <div class="containerwhiteribbon">
    <div class="gridImages d-flex justify-content-between">
      <div class="ribbon"><img id="ribbon" src="assets/img/valla/cinta.png" alt="" class="cinta">
        <p class="mount hide" id="bici">Debo Ahorrar <br />Bs. 4.800.000</p>
        <p class="mount hide" id="perro">Debo Ahorrar <br />Bs. 2.500.000</p>
        <p class="mount hide" id="laptop">Debo Ahorrar <br />Bs. 5.000.000</p>
        <p class="mount hide" id="cel">Debo Ahorrar <br />Bs. 3.000.000</p></div>
    </div>
  </div>
  <div id="Roulette"></div>
</div>
